n8n-examples/basic_rag.json
{
  "name": "Clase RAG",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        -1060
      ],
      "id": "f4315abf-94dc-4dfa-97cb-5979776ab881",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documentos_rag",
          "mode": "list",
          "cachedResultName": "documentos_rag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        660,
        -1060
      ],
      "id": "223f8b17-5bac-4598-b4f8-6572f74d36e5",
      "name": "Supabase Vector Store",
      "credentials": {
        
      }
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/juanhenaoparra/examples/refs/heads/main/truora-blog.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        -1060
      ],
      "id": "1f25071c-1bf7-4adf-b02f-3954ec1035f9",
      "name": "get_file"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        560,
        -660
      ],
      "id": "2ed582a3-ca50-48d3-be9f-7d7df5540c56",
      "name": "Embeddings OpenAI",
      "credentials": {
        
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        820,
        -800
      ],
      "id": "f5f214ed-f583-4f01-bbe3-10d591710ddb",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        900,
        -620
      ],
      "id": "e89e51de-bbda-4cd6-b5c5-16901c11a59e",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "# Indexación de notas de voz",
        "height": 1020,
        "width": 1840,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -460,
        20
      ],
      "typeVersion": 1,
      "id": "ee98f836-a7b9-4e00-ab23-6e13fbe897c4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        540,
        1440
      ],
      "id": "95c0773f-3fa8-4c3d-8b60-e65540fc79d9",
      "name": "OpenAI Chat Model",
      "credentials": {
        
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documentos_rag",
          "mode": "list",
          "cachedResultName": "documentos_rag"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        900,
        1560
      ],
      "id": "dc021e48-7c6c-4425-9e46-3d8e730ea9ec",
      "name": "Supabase Vector Store1",
      "credentials": {
        
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        980,
        1760
      ],
      "id": "186568a3-c832-477b-932f-4615d5b2f1b0",
      "name": "Embeddings OpenAI1",
      "credentials": {
        
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.response.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1260,
        1160
      ],
      "id": "11c87c2b-5d03-4333-af5c-c8c0bca1fdfe",
      "name": "Telegram",
      "credentials": {
        
      }
    },
    {
      "parameters": {
        "content": "# RAG",
        "height": 920,
        "width": 1560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        120,
        1080
      ],
      "typeVersion": 1,
      "id": "d088651e-9361-4561-8f83-f12496dd45d9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "89448913-549e-4c48-99ca-2048d545d966",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        300,
        1160
      ],
      "id": "3be548d6-a941-4ea6-b379-89cbe33a78d3",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "80803d5a-fa49-4341-9bf7-857fdf6b0b17",
              "leftValue": "={{ $json.message.voice.file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "c3391c88-3f05-4930-9f81-b8d9b8a8ffbd",
              "leftValue": "={{ $json.message.audio.file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -120,
        300
      ],
      "id": "995d4d57-b54f-401a-86b4-b7f9b926082a",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice?.file_id ? $json.message.voice.file_id : $json.message.audio.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        280
      ],
      "id": "b93b2f69-b3ed-474e-bd99-c0ca1e98ceb8",
      "name": "Telegram1",
      "credentials": {
        
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        540,
        280
      ],
      "id": "721e6a23-f841-48a8-b465-829b8d46943f",
      "name": "OpenAI",
      "credentials": {
        
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documentos_rag",
          "mode": "list",
          "cachedResultName": "documentos_rag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        860,
        280
      ],
      "id": "cd2a65ee-5a56-4dba-b55b-6bb180fc8ff3",
      "name": "Supabase Vector Store2",
      "credentials": {
        
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        820,
        540
      ],
      "id": "b44ecc69-1c54-40da-babd-c7a0c6bc42d3",
      "name": "Embeddings OpenAI2",
      "credentials": {
        
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1020,
        580
      ],
      "id": "3e7c3274-9694-4362-a9be-3f706c598440",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1020,
        800
      ],
      "id": "870f1bc0-3026-4adf-99d9-7a3bdff5299c",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -380,
        300
      ],
      "id": "295d7193-ab77-4bea-8b8c-00a87801f9d4",
      "name": "Telegram Trigger",
      "webhookId": "76701c15-0022-43c4-bef5-f57cef03f947",
      "credentials": {
        
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.4,
      "position": [
        700,
        1160
      ],
      "id": "2c971d88-e7a5-4ab5-9789-3e0cd33acdb7",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        900,
        1360
      ],
      "id": "825c8c75-cfba-4413-a6a4-d232fa361fc3",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "content": "# Indexacion de documentos",
        "height": 700,
        "width": 1360,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -260,
        -1140
      ],
      "typeVersion": 1,
      "id": "cfa60547-6e1c-4391-9f75-57bee0ba4cc1",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 755139413,
          "message": {
            "message_id": 403,
            "from": {
              "id": 1397552673,
              "is_bot": false,
              "first_name": "Juan Sebastián",
              "last_name": "Henao",
              "username": "juanhenaoparra",
              "language_code": "en"
            },
            "chat": {
              "id": 1397552673,
              "first_name": "Juan Sebastián",
              "last_name": "Henao",
              "username": "juanhenaoparra",
              "type": "private"
            },
            "date": 1742937021,
            "text": "que fue lo que dije en la ultima reunion? que fue lo que enseñe?"
          }
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "get_file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1b828b62-4eb2-43a9-96ea-378c1fab78f0",
  "meta": {
    "instanceId": "1cc235f1c9b2947a06de422747cf2a63fb57c4dec8158f8ecda660fd17da62d4"
  },
  "id": "YEcPzyWGCemPTT5Q",
  "tags": []
}