n8n-examples/basic_rag.json
{
  "name": "Clase RAG",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        180,
        140
      ],
      "id": "f4315abf-94dc-4dfa-97cb-5979776ab881",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documentos_rag",
          "mode": "list",
          "cachedResultName": "documentos_rag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1000,
        140
      ],
      "id": "223f8b17-5bac-4598-b4f8-6572f74d36e5",
      "name": "Supabase Vector Store",
      "credentials": {
      }
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/juanhenaoparra/examples/refs/heads/main/truora-blog.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        140
      ],
      "id": "1f25071c-1bf7-4adf-b02f-3954ec1035f9",
      "name": "get_file"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        900,
        540
      ],
      "id": "2ed582a3-ca50-48d3-be9f-7d7df5540c56",
      "name": "Embeddings OpenAI",
      "credentials": {
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1160,
        400
      ],
      "id": "f5f214ed-f583-4f01-bbe3-10d591710ddb",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1240,
        580
      ],
      "id": "e89e51de-bbda-4cd6-b5c5-16901c11a59e",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        540,
        1440
      ],
      "id": "95c0773f-3fa8-4c3d-8b60-e65540fc79d9",
      "name": "OpenAI Chat Model",
      "credentials": {
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documentos_rag",
          "mode": "list",
          "cachedResultName": "documentos_rag"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        900,
        1560
      ],
      "id": "dc021e48-7c6c-4425-9e46-3d8e730ea9ec",
      "name": "Supabase Vector Store1",
      "credentials": {
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        980,
        1760
      ],
      "id": "186568a3-c832-477b-932f-4615d5b2f1b0",
      "name": "Embeddings OpenAI1",
      "credentials": {
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.response.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1260,
        1160
      ],
      "id": "11c87c2b-5d03-4333-af5c-c8c0bca1fdfe",
      "name": "Telegram",
      "credentials": {
      }
    },
    {
      "parameters": {
        "content": "# RAG",
        "height": 920,
        "width": 1660
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        20,
        1080
      ],
      "typeVersion": 1,
      "id": "d088651e-9361-4561-8f83-f12496dd45d9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "89448913-549e-4c48-99ca-2048d545d966",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        300,
        1160
      ],
      "id": "3be548d6-a941-4ea6-b379-89cbe33a78d3",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.4,
      "position": [
        700,
        1160
      ],
      "id": "2c971d88-e7a5-4ab5-9789-3e0cd33acdb7",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        900,
        1360
      ],
      "id": "825c8c75-cfba-4413-a6a4-d232fa361fc3",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "content": "# Indexacion de documentos",
        "height": 700,
        "width": 1360,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        80,
        60
      ],
      "typeVersion": 1,
      "id": "cfa60547-6e1c-4391-9f75-57bee0ba4cc1",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        80,
        1160
      ],
      "id": "295d7193-ab77-4bea-8b8c-00a87801f9d4",
      "name": "Telegram Trigger",
      "webhookId": "76701c15-0022-43c4-bef5-f57cef03f947",
      "credentials": {
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "get_file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bfcd56a5-4e00-43b4-88e5-c687a3770980",
  "meta": {
    "instanceId": "1cc235f1c9b2947a06de422747cf2a63fb57c4dec8158f8ecda660fd17da62d4"
  },
  "id": "YEcPzyWGCemPTT5Q",
  "tags": []
}